@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 커스텀 폰트 변수 정의 */
@theme inline {
  --font-reddit: var(--font-reddit);
  --font-ibm: var(--font-ibm);
  --font-kopub-batang: var(--font-kopub-batang);
  --font-kopub-batang-pro: var(--font-kopub-batang-pro);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* 기본 body 스타일 */
body {
  background-color: var(--background);
  color: var(--foreground);
}
